<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(Task::CATEGORIES, 'all'), {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title, class: "form-control", placeholder: '' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :task_description, class: "form-control", placeholder: '' %>
  </div>

  <h3>Files</h3>
  <div id='file_paths'>
    <%= form.fields_for :file_paths do |file| %>
      <%= render 'file_path_fields', :f => file %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add file path', form, :file_paths, class: 'btn btn-primary' %>
    </div>
  </div>
  <br><br>
  <div class="actions">
    <%= form.submit 'Create Task', class: 'btn btn-primary form-control' %>
  </div>
<% end %>
