<div class="col-md-12 all-tasks">
  <% @tasks.each do |task| %>
    <div class="task">
      <h4><%= task.title %></small></h4>
      <p><%= task.description.truncate(100) %></p>
      <small><b>by:</b> <%= task.user.email %> on <%= task.created_at_date %></small>
      <% if task.created_by?(current_user)%>
        <small class="actions pull-right">
          <%= link_to 'Edit', edit_task_path(task) %> |
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
      <% end %>
    </div>
  <% end %>
</div>
