<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<h5>Files</h5>
<ul>
  <% @task.file_paths.each do |file_path| %>
    <li><%= file_path.name %></li>
  <% end if @task.file_paths.present? %>
</ul>

<% if @task.created_by?(current_user) %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
  <%= link_to 'Back', tasks_path %>
